<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BibtexMate</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
        function copyToClipboard(elementId) {
            var copyText = document.getElementById(elementId);
            copyText.select();
            copyText.setSelectionRange(0, 99999); /* For mobile devices */
            document.execCommand("copy");

            var tooltip = document.getElementById(elementId + "-tooltip");
            tooltip.innerHTML = "Copied!";
        }

        function resetTooltip(elementId) {
            var tooltip = document.getElementById(elementId + "-tooltip");
            tooltip.innerHTML = "Copy to clipboard";
        }
    </script>
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <h1 class="text-center">BibtexMate</h1>
                <p class="text-center">Effortless Reference Extraction for Researchers</p>
                <form action="/" method="post">
                    <div class="form-group">
                        <textarea class="form-control" name="titles" rows="5" placeholder="Enter one title per line"></textarea>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="dois" rows="5" placeholder="Enter one DOI per line"></textarea>
                    </div>
                    <div class="form-group text-center">
                        <button formaction="/bibtex" formmethod="post" class="btn btn-primary">BibTeX Search</button>
                        <button formaction="/
